@media only screen and (max-width: 768px) {
    nav {
        padding: 16px 40px 2px 40px;
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: black;
        width: 70%;
        height: 95%;
        text-align: center;
        transition: 0.3s;
        z-index: 5;
        /* overflow-x: hidden; */
        justify-content: center;
        overflow: scroll;
    }

    .nav-links ul {
        /* margin: 0; */
    }

    .blur-background {
        opacity: 0.1;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .nav-links li a {
        font-size: 1.3rem;
    }

    body.overlay {
        overflow: hidden;
    }

    .nav-links.active-link {
        right: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active-link .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active-link .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active-link .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* Mobile View */

@media only screen and (max-width: 768px) {

    .logo img {
        margin-top: 10px;
        width: 100px;
        height: 35px;
    }

    .splash-section {
        line-height: 60vh;
    }

    #particles-js-splash {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 90%;
        background-position: 0 50%;
        z-index: 10;
    }

    .hero-text {
        font-size: 3vw;
        max-width: 90%;
        line-height: 2rem;
    }

    .hero-cta {
        flex-direction: column;
    }

    #about h1 {
        font-size: 3em;
    }

    .about-container {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .about-image img {
        width: 250px;
        height: 250px;
        box-shadow: 1px 1px 5px white;
    }

    .about-text {
        width: 80%;
        box-shadow: 1px 1px 10px #14e956;
    }

    #skills h1 {
        font-size: 3em;
    }

    .skill-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 35px 35px;
        width: 70%;
        padding: 30px;
    }

    .skill-grid img {
        max-width: 40px;
        max-height: 40px;
        padding: 10px;
    }

    #experience h1 {
        font-size: 3em;
    }


    #wipro-exp {
        display: none;
    }

    .company-flex {
        flex-direction: column;
        width: 75%;
        padding: 20px;
        line-height: 1.4rem;
    }

    /* Projects */
    #projects h1,
    #contact h1 {
        font-size: 3em;
    }

    .prev,
    .next {
        display: none;
    }

    .slideshow-container {
        display: flex;
        /* width: 50%; */
        justify-content: center;
    }

    .stack {
        width: 350px;
        height: 250px;
        position: relative;
    }

    .projects-buttons-container {
        flex-direction: column;
        gap: 30px;
    }

    .projects-buttons {
        padding: 5px 15px;
    }

    /* mobile projects */

    #mobile-projects {
        flex-direction: column;
        gap: 120px;
    }

    .contact-form-flex {
        width: 80%;
    }


    input[type='text'],
    input[type='email'] {
        padding: 10px 120px 10px 4px;
    }

    textarea {
        padding: 4px 130px 100px 2px;
    }

    /* footer */
    .footer-social-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-content-header{
        font-size: 1rem;
    }
}