/* Slideshow container */
.slideshow-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: -24%;
    transition: 0.6s ease;
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    user-select: none;
}

.prev i,
.next i {
    color: #14e956;
}

.prev:hover .arrow,
.next:hover .arrow {
    color: black;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #14e956;
    border: 2px solid black;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* for testing */

.active {
    background-color: #14e956;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* shuffle */

.stack {
    width: 600px;
    height: 400px;
    position: relative;
}

.card, .resume-stack-card {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card:last-child, .resume-stack-card:last-child {
    box-shadow: 0px 2px 10px 0 #14e956;
}

.card img, .resume-stack-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card:nth-last-child(n + 4) , .resume-stack-card:nth-last-child(n + 4){
    --y: calc(-50% + -30px);
    transform: translate(-50%, var(--y)) scale(0.9);
    box-shadow: 0 0 1px 1px #00000003;
}

.card:nth-last-child(3) , .resume-stack-card:nth-last-child(3) {
    --y: calc(-50% + -15px);
    transform: translate(-50%, var(--y)) scale(0.95);
}

.card:nth-last-child(2) , .resume-stack-card:nth-last-child(2) {
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(1);
}

.card:nth-last-child(1) , .resume-stack-card:nth-last-child(1) {
    --y: calc(-50% + 15px);
    transform: translate(-50%, var(--y)) scale(1.05);
}

@keyframes swap {
    50% {
        transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-5deg);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
        z-index: -1;
    }
}